$x-palette-1: #364c24;
$x-palette-2: #dcbd6c;
$x-palette-3: #f4f3f2;
$x-palette-4: #a62c26;
$x-palette-5: #ab872b;

$green: $x-palette-1;
$red: $x-palette-4;
$bronze: $x-palette-5;
$wheat: $x-palette-2;
$offwhite: $x-palette-3;
